* {
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Ubuntu",sans-serif;
}


.HeaderParent {
    position: fixed;
    width: 100%;
    display: flex;
    height: 60px;
    background-color: #222132;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.profile_image {
    border-radius: 50%;
    height: 45px;
    border: 2px solid white;
    cursor: pointer;
}

.username_text {
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 11px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: 5px;
}

.username_and_image_parent {
    margin-left: auto;
    margin-right: 5px;
    gap: 15px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 330px;
}

.username_and_image_parent i{
    color: white;
    font-size: 22px;
    cursor: pointer;
}


.page_logo {
    cursor: pointer;
    width: 40px;
    margin-left: 25px;
    margin-right: 10px;
}

.home_button {
    width: 80px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s linear;
}

.home_button:hover {
    font-size: 16.5px;
    transition: 0.2s linear;
    color: rgb(240, 240, 240);
}

.searchbar_parent {
    display: flex;
    width: 70%;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.navButtonParent {
    display: none;
}

.searchbar_parent input{
    width: 85%;
    height: 30px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background-color: #100f18;
    color: white;
    outline: none;
}

.searchbar_parent i{
    color: white;
    font-size: 20px;
    background-color: #100f18;
    padding: 6px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.profile_drop_down_menu {
    position: fixed;
    border: 0px;
    padding: 0px;
    margin-right: 0px;
    right: 0px;
    top: 60px;
    z-index: 2;
    height: auto;
    background-color: #2a2942;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.profile_drop_down_menu i{
    margin-right: 10px;
}

.nav_drop_down_menu i{
    margin-right: 10px;
}

.nav_drop_down_menu {
    position: fixed;
    border: 0px;
    padding: 0px;
    z-index: 2;
    margin-right: 0px;
    left: 0px;
    top: 60px;
    height: auto;
    background-color: #2a2942;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.nav_drop_down_menu button{
    height: 50px;
    color: white;
    background-color: #2a2942;
    border: none;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: linear 0.4s;
    cursor: pointer;
}

.nav_drop_down_menu button:hover{
    font-size: 19px;
    transition: linear 0.4s;
    background-color: #1e1d32;
}


.profile_drop_down_menu button{
    height: 50px;
    color: white;
    background-color: #2a2942;
    border: none;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: linear 0.4s;
    cursor: pointer;
}

.profile_drop_down_menu button:hover{
    font-size: 19px;
    transition: linear 0.4s;
    background-color: #1e1d32;
}

.hide_menus_when_clicked {
    width: 100vw;
    opacity: 50%;
    z-index: 1;
    height: 100vh;
    top: 0%;
    position: absolute;
    top: 0px;
    right: 0px;
}


@media (max-width: 1084px) { 
    .searchbar_parent {
        display: none;
    }
    
    .username_text {
        font-size: 10px;
    }
    .username_and_image_parent {
        margin-right: 0px;
        width: 300px;
    }

}

@media (max-width: 750px) {
    .navButtonParent {
        display: contents; 
        color: white;
        font-size: 28px;
        cursor: pointer;
    }

    .home_button {
        display: none;
    }
}


@media (max-width: 500px) {
    .username_and_image_parent i{
        display: block;
        visibility: hidden;
    }
}