.main_page_parent {
    background-color: #302f42;
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
}

.open_post_menu h1 {
    width: 35ch;
    white-space: nowrap;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.center_posts_parent {
    width: 700px;
    margin-top: 90px;
    min-height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 30px;
}


@media (max-width: 700px) { 
    .center_posts_parent {
        width: 100%;
        min-width: 200px;
    }

}

@media (max-width: 500px) { 
    .center_posts_parent {
        width: 100%;
        min-width: 200px;
    }
    .center_post_menu_parent div h1{
        font-size: 9px;
    }

}
