.notification_page_parent {
    background-color: #302f42;
    width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
}

.notfications_parent_container {
    width: 600px;
    margin-top: 80px;
    background-color: rgb(53, 182, 225);
    min-height: 100vh;
}