.post_parent_container {
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: #222132;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.post_username_image_date_and_edit_containter {
    width: 90%;
    display: flex;
    height: 60px;
    margin-top: 15px;
    align-items: center;
}

.post_username_image_date_and_edit_containter img{
    border-radius: 50%;
    height: 60px;
}

.post_username_image_date_and_edit_containter div{
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: 10px;
    justify-content: center;
}

.post_username_image_date_and_edit_containter h1{
    font-size: 15px;
    margin-bottom: 0px;
}

.post_username_image_date_and_edit_containter h2{
    font-size: 14px;
    margin-bottom: 0px;
}


.post_message_container {
    width: 90%;
    max-height: 98px;
    line-height: 25px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}



.lds-ring {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .like_post_container {
      display: flex;
      width: 90%;
      align-items: center;
  }

  .like_post_container i{
      color: rgb(232, 69, 69);
  }